version: "3.9"

services:
  server:
    build:
      context: ./tech-int3-server
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    restart: unless-stopped

  frontend:
    build:
      context: ./Avito-moderator-app
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    restart: unless-stopped
    depends_on:
      - server
