.ad-preview {
  width: 800px;
  display: flex;
  border: olive solid 2px;
  border-radius: 3px;
  margin: 10px;
  padding: 15px;
  padding-bottom: 25px;
  background-color: rgb(0,0,0,0.03);
}

.ad-preview img {
  border: none;
  border-radius: 12px;
  margin-right: 30px;
}

.description-container * {
  padding-top: 5px;
}

@media screen and (min-width: 877px) and (max-width: 1024px) {
  .ad-preview {
    width: 700px;
    /* margin-left: 30px; */
  }
}
@media screen and (min-width: 768px) and (max-width: 877px) {
  .ad-preview {
    width: 600px;
  }
  .pagination-size {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .ad-preview {
    flex-direction: column;
    width: 400px;
  }
  .ad-preview img {
    width: 365px;
  }
  
}