.ad-preview-container {
  display: flex;
}

.ad-preview {
  width: 800px;
  display: flex;
  border: olive solid 2px;
  border-radius: 3px;
  margin: 10px;
  padding: 15px;
  padding-bottom: 25px;
  background-color: rgb(0,0,0,0.03);
}

.ad-preview img {
  border: none;
  border-radius: 12px;
  margin-right: 30px;
}

.description-container * {
  padding-top: 5px;
}

.ad-preview-container {
  margin-top: 20px;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}

.ad-preview-container input{
  position: absolute;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #bebdbd;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.ad-preview-container .checkmark:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 7px;
  border: solid rgb(60, 60, 60);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (min-width: 877px) and (max-width: 1024px) {
  .ad-preview {
    width: 75vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 877px) {
  .ad-preview {
    width: 75vw;
  }
  .pagination-size {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .ad-preview {
    flex-direction: column;
    width: 75vw;
  }
  .ad-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ad-preview img {
    width: 100%;
  }  
}