.main-page {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.sidebar-toggle-btn {
  display: none;
  cursor: pointer;
  margin-left: 10px;
  background-color: #00aaff;
  border: none;
  position: fixed;
  top: 80px;
  left: 20px;
  z-index: 1000;
}

.upButton {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: #00aaff;
  padding: 0;
  border-radius: 5px;
  font-size: 36px;
  align-content: center;
}
.upButton:hover {
  cursor: pointer;
  background-color: #45bbf7;
}


@media screen and (max-width: 877px) {
  .pagination {
    max-width: 570px;
  }
}

@media (max-width: 768px) {
  .main-page {
    margin-top: 60px;
  }
  .sidebar-toggle-btn {
    display: block;
  }
}