.sorting-container {
  display: flex;
  align-items: center;
}

.sorting-block {
  display:  flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;

}
.sorting-container * {
  margin-right: 10px;
}

.sorting-container select, .sorting-container input {
  background-color: white;
  color: black;
  width: 120px;
  height: 30px;
  border-radius: 8px;
  border-width: 1px;
  padding: 5px;
}
.sorting-container label {
  font-weight: 600;
  /* margin-left: 10px; */
}

/* .pagination-block {
  display: flex;
  align-items: center;
} */
.bulk-container {
  margin-top: 20px;
  position: relative;
  padding-left: 35px;
  /* cursor: pointer; */
}

.bulk-container input{
  position: absolute;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #bebdbd;
  cursor: pointer;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.bulk-container .checkmark:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 7px;
  border: solid rgb(60, 60, 60);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.chosen-amount {
  margin-left: 20px;
}
.bulk-actions {
  display: flex;
  justify-content: center;
}
.bulk-actions button {
  margin-top: 20px;
  width: 150px;
  margin: 20px;
}
.forms {
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 877px) {
  .sorting-container {
    flex-direction: column;
    align-items: start;
  }
  .sorting-block {
    justify-content: start;
    margin-right: 0;
  }
}

@media screen and (min-width: 877px) and (max-width: 1024px) {
  .sorting-container input {
    width: 80px;
  }
}

@media screen and (max-width: 768px) {
  .bulk-actions button {
    width: 90%;
    margin: 10px;
  }
  .ads-header {
    padding-left: 10px;
  }
}
