.pagination {
  margin-top: 30px;
  margin-bottom: 100px;
  text-align: center;
  max-width: 800px;
}
.pagination button {
  background-color:azure;
  color: black;
}
.pagination .active {
  font-weight: 800;
  font-size: 18px;
}

@media screen and (min-width: 877px) and (max-width: 1024px) {
  .pagination {
    width: 75vw;
  }
}

@media (max-width: 768px) {
  .pagination {
    max-width: 400px;
  }
}